header{
background-color: rgb(224, 148, 47);
font: size 20px;
text-decoration: wavy;
}

nav {
background-color: aliceblue;
padding: 0.2em;
}

h2 {

}

p {

}

img {

}

section {

}

footer {

}