header{
background-color: rgb(224, 148, 47);
font: size 20px;
text-decoration: wavy;
}

nav {
background-color: aliceblue;
padding: 0.2em;
}

 ul {
  list-style-type: none;
  display: flex; /* Use flexbox to create a horizontal layout */
  justify-content: space-around; /* Distribute items equally along the main axis */
  padding: 10px;
  }

h2 {

}

p {

}

img {

}

section {

}

footer {

}
